
<nav *ngIf="showCookieConcent" class="container navbar-fixed-top  alert alert-danger" style="position: relative;">
    <h4 *ngIf="'cookies.Heading' | translate " [innerHTML]="'cookies.Heading' | translate"></h4>
    <div *ngIf="'COOKIE_CONSENT_MSG' | translate " [innerHTML]="'COOKIE_CONSENT_MSG' | translate"></div>
    <a class="btn btn-link btn-sm" routerLink="/page/cookies">{{'FIND_OUT_MORE' | translate}}</a>
    <button class="btn btn-sm btn-danger pull-right" (click)="closeCookieConcent()" >x</button>
</nav>


<div class="container">
<div class="row">

    <div class="col-md-9">  <!--    Header Left   -->
      
        <h1 class="text-md-center">
          <hr/>
            <a routerLink="/home">
            {{'Profile.PersonalData.DisplayName' | translate }}<br/>
            </a>
            <small>{{profile?.PersonalData?.DisplayProfession }}</small>
        </h1>

            <p class="text-md-center" *ngIf="'Profile.SocialNetworksData' | translate">
            <span *ngFor="let item of 'Profile.SocialNetworksData' | translate" class="nav nav-inline">
                <a class="btn btn-sm btn-danger" target="_BLANK" href="{{item.Link}}" title="{{item.Description}} ({{item.NetworkType}}) : {{item.Title}}"> <span class="{{item.CSS}}" > </span></a> &nbsp; &nbsp; &nbsp; 
            </span>
            </p>
            <br/>

        <hr/>
            <nav class="nav nav-inline text-md-center">
                <a class="nav-link" routerLink="/home" routerLinkActive="active"><i class="fa fa-home"></i> {{'MENU_ITEM_HOME' | translate}} </a>
                <a class="nav-link" routerLink="/about" routerLinkActive="active"><i class=" fa fa-th"></i> {{'MENU_ITEM_ABOUT' | translate}} </a>
                <a class="nav-link" routerLink="/profile" routerLinkActive="active"><i class=" fa fa-user"></i> {{'MENU_ITEM_PROFILE' | translate}} </a>
                <a class="nav-link" routerLink="/contact" routerLinkActive="active"><i class="fa fa-envelope"></i> {{'MENU_ITEM_CONTACT' | translate}} </a>
            </nav>

        <hr/>

    </div> <!--    Header Left /   -->

    <div class="col-md-3">   <!--    Header Right   -->
        <div class="card">    
          <img class="card-img img-fluid img-responsive text-md-center img-thumbnail" src="themes/theme2/img/profile.png" alt="{{'LOGO_TEXT' | translate}}">
        </div>
    </div>  <!--    Header Right /  -->

</div>

 <router-outlet></router-outlet>




    
    <hr/>
    <!-- Site footer -->
    <footer class="footer">

        <div class="row">
            <div class="col-xs-4 col-md-5">
                <small>
                <nav class="nav nav-inline">
                    <a class="nav-link" routerLink="/page/terms"  routerLinkActive="active">{{'MENU_ITEM_TERMS' | translate}}</a>
                    <a class="nav-link" routerLink="/page/privacy"  routerLinkActive="active">{{'MENU_ITEM_PRIVACY' | translate}}</a>
                    <a class="nav-link" routerLink="/page/cookies"  routerLinkActive="active">{{'MENU_ITEM_COOKIES' | translate}}</a>
                    <a class="nav-link" routerLink="/page/imprint"  routerLinkActive="active">{{'MENU_ITEM_IMPRINT' | translate}}</a>
                </nav>
                </small>
            </div>
            <div class="col-xs-4 col-md-5">{{'FOOTER_TEXT' | translate}}</div>
            <div class="col-xs-2 col-sm-2 col-md-2 ">
                <p class="pull-right">
                <span *ngFor="let item of langList">
                    <span *ngIf="currentLang==item.lang">
                        <img  class="privacy_link" src="images/{{item.flag}}"  > 
                    </span>
                    <span *ngIf="currentLang!=item.lang" >
                        <a (click)="onLangChange(item.lang)" style="cursor: pointer; cursor: hand;"><img  src="images/{{item.flag}}"  ></a>
                    </span>
                    &nbsp; &nbsp;
                </span>

                </p>

            </div>
            
        </div>

        <p></p>    
    </footer>

        <small>
        <strong>{{'IMPRINT_DISCLAIMER' | translate}}</strong> :
        <span class=""  [innerHTML]="'IMPRINT_DISCLAIMER_MSG' | translate"  ></span> 
        </small>


</div> <!-- /container -->
