<h2 *ngIf="'RECENT_ACTIVITY'| translate" [innerHTML]="'RECENT_ACTIVITY'| translate"></h2>
<div class="card-columns" *ngIf="'Profile.ProjectsData' | translate">
	<span *ngFor="let item of 'Profile.ProjectsData' | translate; let i = index; ">
		<div class="card card-inverse" >
			<img *ngIf="item.Image" class="card-img-top img-fluid " src="images/{{item.Image}}" alt="{{item.Title}}" title="{{item.Title}}">
			<div class="card-img-overlay">
                <h4 class="card-title"><i  *ngIf="item?.CSS" class="{{item.CSS}}"></i> &nbsp;{{item?.Title}}</h4>
                <p class="card-text" [innerHTML]="item?.ShortDescription"></p>
                <button class="pull-right btn btn-link btn-sm" type="button" data-toggle="modal" attr.data-target="#portfolio{{i}}" aria-expanded="false" attr.data-controls="portfolio{{i}}" style="color:#fff;">
                	<i class="fa fa-chevron-right"></i> {{"MORE_INFO" | translate}}
                </button>


<!-- Modal -->
<div class="modal fade" id="portfolio{{i}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="myModalLabel"><i *ngIf="item.CSS" class="{{item.CSS}}"></i> &nbsp;{{item.Title}}</h4>
      </div>
      <div class="modal-body">


        <h5 *ngIf="item.ShortDescription" [innerHTML]="item.ShortDescription"></h5>
        <strong>{{"Role" | translate}} :</strong> {{item.Role}}<br/>
        <strong>{{"Reference" | translate }} :</strong> <a href="{{item.Url}}" target="_BLANK" title="{{item.Title}}">{{item.Url}}</a><br/>

        <span *ngIf="item.DateFrom">{{item.DateFrom}}</span> <span *ngIf="item.DateTo"> - {{item.DateTo}}</span> 
        <hr/>
        
        <p *ngIf="item.Description" [innerHTML]="item?.Description | sanitizeHTML"></p>
        <a *ngIf="item.Image" href="{{item.Url}}" target="_BLANK" title="{{item.Title}}">
              <img class="img-fluid" src="images/{{item.Image}}" alt="{{item.Title}}" title="{{item.Title}}">
        </a>
      </div>
      <div class="modal-footer" > 
          <span *ngIf="item.Client">
            <strong>{{"Client" | translate}}:</strong> <a href="{{item.Url}}" target="_BLANK">{{item.Client}}</a><br/>
          </span>
          <span *ngIf="item.LineOfBusiness">
              <strong>{{"Line of Business" | translate}}:</strong> {{item.LineOfBusiness}}<br/>
          </span>
          <span *ngIf="item.Tools">
              <strong>{{"Tools" | translate}}:</strong> {{item.Tools}}<br/>
          </span>
      </div>
    </div>
  </div>
</div>  <!-- Modal / -->



            </div>
            <div class="card-footer text-muted">
                {{item.DatePosted}}
            </div>
        </div>
</span>

